name: Run Test

on:
  push:
    branches:
      - feature/**

jobs:
  test:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Decrypt environment variables
        run: |
          echo "${{ secrets.ENV }}" base64 -d > build/.env

      - name: Run a test
        run: |
          make test-app